.bluetext{color:blue;}
.yellowtext{color:#f8cf04;}
.redtext{color:red;}
.greentext{color:green;}
#chapter0 {font-family: 'Times New Roman', serif;}

#chapter1, #chapter2,#chapter3 {font-family: Arial, sans-serif;}
